{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Confirm Batch Import{% endblock title %}

{% block extra_head %}
{{ formset.media.css }}
{% endblock extra_head %}

{% block content %}
<div class="mb-6 mt-4">
    <h2 class="text-2xl font-bold mb-2">Confirm Batch Import</h2>
    <p class="text-base-content/70">Please review the entries to be created below. Click 'Save to Database' if correct.</p>
</div>

{% include "applications/partials/batch_import_confirm_formset.html" %}

{% endblock content %}

{% block extra_javascript %}
{{ formset.media.js }}
{% endblock extra_javascript %}
