{% with request.resolver_match.view_name as view_name %}
  <div role="tablist" class="tabs tabs-bordered mb-8">
    <a role="tab" class="tab {% if view_name == 'applications:general_view' or view_name == 'applications:general_edit' %}tab-active font-semibold{% endif %}" 
      href="{% url 'applications:general_view' application.application_id %}">
      General
    </a>
    <a role="tab" class="tab {% if view_name == 'applications:transcripts_view' or view_name == 'applications:transcripts_edit' %}tab-active font-semibold{% endif %}" 
      href="{% url 'applications:transcripts_view' application.application_id %}">
      Past Course Transcripts
    </a>
    <a role="tab" class="tab {% if view_name == 'applications:prereq_view' or view_name == 'applications:prereq_edit' %}tab-active font-semibold{% endif %}" 
      href="{% url 'applications:prereq_view' application.application_id %}">
      Prerequisite Mapping
    </a>
  </div>
{% endwith %}
