@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate;
}

@plugin "daisyui/theme" {
  name: "corporate";

  --color-primary: oklch(0.4228 0.1434 17.15);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(0.405214 0.083481 166.5768);
  --color-secondary-content: oklch(1 0 0);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@source "../../../**/*.html";
@source "../../../**/forms.py";

.select2-container {
    width: 100% !important;
}