<div class="card bg-base-100 border border-base-300 shadow-sm equiv-map mb-4">
    <div class="card-body">
        <div class="flex justify-between items-center mb-4 border-b border-base-200 pb-2">
            <h5 class="card-title text-lg m-0">Map {{ map_id }}</h5>
            <button type="button" class="btn btn-sm btn-error" onclick="this.closest('.equiv-map').remove()">Remove Map</button>
        </div>
        
        <div class="space-y-2 mb-4" id="equiv-forms-{{ map_id }}">
            {% for equiv_form in equiv_forms %}
                {% include "courses/partials/equiv_form.html" %}
            {% endfor %}
        </div>
        
        <div>
            <button
            class="btn btn-sm btn-neutral"
            type="button"
            hx-get="{% url 'courses:partial_equiv_form' map_id %}"
            hx-vals="js:{index:getEquivNextIndex({{ map_id }})}"
            hx-target="#equiv-forms-{{ map_id }}"
            hx-swap="beforeend"
            >+ Add Course</button>
        </div>
    </div>
</div>