<div class="navbar bg-secondary text-secondary-content shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 text-base-content rounded-box w-52">
        {% for app_name, info in navbar_buttons.items %}
          <li>
            <a href="{% url info.url %}" class="{% if request.resolver_match.app_name == app_name %}active font-semibold{% endif %}">
              {{ info.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a href="{% url 'home:home' %}" class="btn btn-ghost text-xl">GSAS</a>
  </div>
  
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {% for app_name, info in navbar_buttons.items %}
        <li>
          <a href="{% url info.url %}" class="{% if request.resolver_match.app_name == app_name %}active font-semibold{% endif %}">
            {{ info.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="navbar-end">
    {% if user.is_authenticated %}
      <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-ghost">Logout</button>
      </form>
    {% endif %}
  </div>
</div>