<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../statc/scripts/student_profiles.js" defer></script>

</head>
<body>
    <div>
        <input id="input_student_number"></input>
        <button>Search by Student #</button>
    </div>
    <div>
        <div id="name"></div>
        <div id="student_number"></div>
    </div>
    <div>
        <div id="AY_entry"></div>
        <div id="AY of latest enrollment"></div>
    </div>
    <div>
        <div id="Degree"></div>
        <!-- PhD CS, MS CS, OR MS Bioinfo --></div>
    </div>
    <div>
        <div id="Email"></div>
        <div id="Contact Number"></div>
    </div>
    <div>
        <div id="Full Time OR Part Time"></div>
        <div id="Scholarship"></div>
    </div>div>
    <div></div>
        <!-- Progress Status  --> 
         <!-- This will be a PROGRESS BAR -->
        
            <!-- Probationary
            Pre-proposal
            Thesis Proposal
            Thesis Defense
            Candidacy
            Qualifying Exam
            Dissertation Proposal
            Dissertation Defense
            Graduate
            Discontinued Program -->
    </div>
    <div>
        <div id="Year of Graduation"></div>
    </div>
    <div>
        <div id="Adviser/Lab"></div>
    </div>
    <div>
        <div id="Link to Progress of Study"></div>
        <div id="Link to Folder"></div>
    </div>
    <div>
        <div id="Other Notes"></div>
    </div>
</body>