{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div>
        <div class="mb-6 flex gap-2 flex-wrap">
            <a href="{% url 'applicants:add' %}" target="_blank" class="btn btn-sm btn-outline btn-primary">Create New Applicant</a>
            <button 
                hx-get="{% url 'applications:batch_import_confirm' %}?detect_applicants=true"
                hx-include="closest form"
                hx-swap="none"
                class="btn btn-sm btn-outline btn-secondary">
                ↺ Refresh and Auto-Detect Applicants
            </button>
        </div>
        <div class="card bg-base-100 border border-base-300 shadow-sm mb-6">
          {% if formset.non_form_errors %}
              <div class="p-4 bg-error/10 text-error">{{ formset.non_form_errors }}</div>
          {% endif %}
            <div class="overflow-x-auto">
                <table class="table table-zebra w-full mb-0 min-w-[4000px] max-w-none">
                    <thead class="bg-base-300 text-base-content/70">
                        <tr>
                            <th>Application No.</th>
                            <th>Scanned Name</th>
                            <th>Scanned Contact Info</th>
                            <th class="min-w-[500px]">Applicant</th>
                            <th class="min-w-[200px]">Applicant Link</th>
                            <th>Application Status</th>
                            <th>Folder Link</th>
                            <th>Program</th>
                            <th>Study Load</th>
                            <th>Unit</th>
                            <th>Research Field 1</th>
                            <th>Research Field 2</th>
                            <th>Research Field 3</th>
                            <th>Special Project Topic Interest</th>
                            <th>Undergraduate GWA</th>
                            <th>Undergraduate Failed Subjects</th>
                            <th>Graduate GWA</th>
                            <th>Graduate Failed Subjects</th>
                            <th>NGSE Requirements Complete</th>
                            <th>NGSE Remarks</th>
                            <th>Notes</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                          {% include "applications/partials/batch_import_confirm_form.html" with form=form %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex gap-2">
            <button type="submit" name="confirm" class="btn btn-success">Save to Database</button>
            <a href="{% url 'applications:batch_import_upload' %}" class="btn btn-error btn-outline">Cancel / Re-upload</a>
        </div>
    </div>
</form>