{% load widget_tweaks %}

{% if form.non_field_errors %}
<tr id="{{ form.prefix }}-root-other">
    <td colspan="100%">
        <div class="alert alert-error shadow-sm my-2">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </td>
</tr>
{% endif %}
<tr id="{{ form.prefix }}-root">
            <td class="text-center">
              {% render_field form.include class="ocr-preview-form-include checkbox checkbox-primary checkbox-sm" %}
            </td>

            <td>
              <span class="font-mono text-sm">{{ form.scanned_code.value|default_if_none:'' }}</span>
              {{ form.scanned_code }}
            </td>
            <td>
              <span class="text-sm text-base-content/70">{{ form.scanned_name.value|default_if_none:'' }}</span>
              {{ form.scanned_name }}
            </td>

            <td class="text-center text-base-content/70 text-sm">
              {{ form.scanned_units.value|default_if_none:'' }}
              {{ form.scanned_units }}
            </td>

            <td>
              <div class="grid grid-cols-[2fr_1fr] items-center gap-4">
                <div>
                  <span id="{{ form.prefix }}-swap-course" {% if detect_courses %}hx-swap-oob="true"{% endif %}>
                    {% url 'applications:ocr_preview' application.application_id as ocr_preview_url %}
                    {% with ocr_preview_full_url=ocr_preview_url|add:"?update=true" %}
                      {% render_field form.course class+="select select-bordered select-sm w-full" hx-get=ocr_preview_full_url hx-include="closest form" hx-trigger="change" hx-swap="none" %}
                    {% endwith %}
                    {% if form.course.errors %}
                        <div class="text-error text-xs mt-1">{{ form.course.errors }}</div>
                    {% endif %}
                  </span>
                </div>
                <button
                  class="btn btn-outline btn-success btn-sm"
                  hx-post="{% url 'applications:ocr_preview_create_course' application.application_id %}"
                  hx-vals="js:{prefix: '{{ form.prefix }}'}"
                  hx-include="#{{ form.prefix }}-root, #{{ form.prefix }}-root-other"
                  hx-swap="none"
                  hx-on:htmx:after-request="if (event.detail.successful) { this.closest('td').querySelector('.alert').classList.remove('hidden'); this.remove(); }"
                >Create from scanned</button>
                <div class="alert alert-success alert-soft alert-sm hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Course created! You may update its School, Program(s) and other information.
                </div>
              </div>
            </td>

            <td>
                <span id="{{ form.prefix }}-swap-course_id" {% if detect_courses or update %}hx-swap-oob="true"{% endif %}>
                  {% if form.course_instance %}
                    <a href="{% url 'courses:general_view' form.course_instance.course_id %}" class="link link-hover link-primary text-lg">{{ form.course_instance.course_code }}</a>
                  {% else %}
                    &mdash;
                  {% endif %}
                </span>
            </td>

            <td>
              {% render_field form.grade class="input input-bordered input-sm w-full" %}
              {% if form.grade.errors %}
                <div class="text-error text-xs mt-1">{{ form.grade.errors }}</div>
              {% endif %}
            </td>

            <td>
                <span id="{{ form.prefix }}-swap-course_units" {% if detect_courses or update %}hx-swap-oob="true"{% endif %}>
                  {% if form.course_instance %}
                    {{ form.course_instance.units }}</span>
                  {% else %}
                    &mdash;
                  {% endif %}
                </span>
            </td>
          </tr>
          