{% load widget_tweaks %}


<div class="prereq-form border border-base-300 p-4 rounded bg-base-100 shadow-lg" data-index="{{ index }}">
    {% if course_form.errors %}
        <div class="text-error text-sm mb-2">{{ course_form.errors }}</div>
    {% endif %}

    <div class="grid grid-cols-[2fr_1fr_1fr_1fr_1fr_4fr_0.5fr] gap-4 items-center">
        <div class="min-w-0">
            {% url 'applications:partial_prereq_form' application.application_id map_id as prereq_form_url %}
            {% with index_param=index|stringformat:"s" %}
                {% with prereq_form_url|add:"?index="|add:index_param|add:"&update=true" as prereq_form_full_url %}
                    {% render_field course_form.course class="w-full" hx-get=prereq_form_full_url hx-include="closest .prereq-map" hx-trigger="change" hx-swap="none" %}
                {% endwith %}
            {% endwith %}
        </div>

        <div class="min-w-0">
            <div
                id="prereq-form-{{ map_id }}-{{ index }}-swap-course_id"
                {% if update %}hx-swap-oob="true"{% endif %}
            >
                {% if course %}
                    <a href="{% url 'courses:general_view' course.course_id %}" class="link link-hover link-primary text-lg">{{ course.course_code }}</a>
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>
        
        <div class="min-w-0">
            <div
                id="prereq-form-{{ map_id }}-{{ index }}-swap-similarity"
                {% if update %}hx-swap-oob="true"{% endif %}
                class="font-bold text-lg"
            >
                {% if similarity != None %}
                    {{ similarity }}%
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>
        
        <div class="min-w-0">
            <div
                id="prereq-form-{{ map_id }}-{{ index }}-swap-grade"
                {% if update %}hx-swap-oob="true"{% endif %}
                class="badge badge-info badge-lg"
            >
                {{ grade|default:"&mdash;" }}
            </div>
        </div>

        <div class="min-w-0">
            <div
                id="prereq-form-{{ map_id }}-{{ index }}-swap-units"
                {% if update %}hx-swap-oob="true"{% endif %}
                class="badge badge-neutral badge-lg"
            >
                {% if course %}
                    {{ course.units }}
                {% else %}
                    &mdash;
                {% endif %}
            </div>
        </div>

        <div class="min-w-0">
            <div class="bg-base-200 p-3 rounded text-base-content/80">
                <div
                    id="prereq-form-{{ map_id }}-{{ index }}-swap-description"
                    {% if update %}hx-swap-oob="true"{% endif %}
                    class="text-sm inline-block truncate max-w-[40ch]"
                >
                    {% if course %}
                        {{ course.description }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ml-auto mb-auto relative">
            <button type="button" class="btn btn-circle btn-ghost btn-error btn-lg hover:bg-transparent absolute top-1 right-1 translate-x-1/2 -translate-y-1/2" onclick="this.closest('.prereq-form').remove()" aria-label="Close">
                ✕
            </button>
        </div>
    </div>
</div>
