<div id="prereq-map-{{ map_id }}-alert" {% if update %}hx-swap-oob="true"{% endif %} class="prereq-map-alert flex items-center gap-2">
    {% if result is not None %}
        <button type="button" class="btn btn-ghost" onclick="this.closest('.prereq-map-alert').replaceChildren()" aria-label="Close">
            Hide
        </button>
        <div class="alert
            {% if result == 'success' %}
                alert-success
            {% elif result == 'warning' %}
                alert-warning
            {% elif result == 'error' %}
                alert-error
            {% endif %}
        ">
            {% if result == 'success' %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            {% elif result == 'warning' %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
            {% elif result == 'error' %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            {% endif %}
            <span>{{ message }}</span>
        </div>
    {% endif %}
</div>